/** Regular */
@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

/** Common */
@font-face {
    font-family: "Futura";
    font-weight: 400;
    src: url("../fonts/futura_medium.ttf");
}

@font-face {
    font-family: "Futura - Bold";
    src: url("../fonts/futura_bold.ttf");
}

/*reset styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a, label{
	-webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*end reset styles*/

body {
    margin: 0;
    font-family: "SF Text", sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    /*reset shadow on ios*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color:transparent;
    /*reset zoom text on horizontal ios*/
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.page {    
    width: 100%;
    background-color: #f5f5f5;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
    .mobile-toolbar, .md-show {
        display: block !important;
    }

    .mobile-footer {
        /*background-image: url("../img/mobile-footer.png") !important;*/
        width: 406px !important;
    }

    .page {
        border-left: 18px solid #d4d4d4;
        border-right: 18px solid #d4d4d4;
    }

    body {
        background-image: url("../img/bg.png");
    }

    .container {
        width: 406px;
        margin: 0 auto;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (min-height: 768px) {
    .lg-show {
        display: block !important;
    }
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 17px;
}

.page-group-title {
    text-align: center;
    padding: 10px;
    font-size: 21px;
    font-weight: bold;
    padding: 4px 0px;
}

.main-title-header {
    position: relative;
    top: 3px;
    right: 10px;
}

.group-image {
    width: auto;
    height: 70px;
    border-radius: 50%;
}

.page-title img {
    float: left;
}

.date-month-line {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: black;
    padding: 0 16px;
    width: calc(100% - 10px);
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;

    color: #fff;
    font-family: "Futura - Bold";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;    
    text-align: left;
    text-transform: uppercase;
}

.right {
    float: right;
}

.center {
    text-align: center;
}


.date-day {
    text-align: center;
    width: 88px;
    padding: 8px 24px;
    border-right: 2px solid #eaeaea;
    /*top: 5px;*/
    font-family: sans-serif;
}

.date-day .month-day {
    display: inline-flex;
    align-items: flex-end;
    height: 41px;
    color: #000;
    font-family: "Futura - Bold";
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 5px;
}

.date-day .day-of-week {
    text-transform: uppercase;

    color: #000;
    font-family: "Futura";
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: 1px;
}

.white-bg {
    background-color: #FFFFFF;
}

.mobile-toolbar-link,
.mobile-toolbar-link-bottom {
    display: none;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
    .mobile-toolbar-link {
        display: block;
        width: 406px;
        min-height: 62px;
        background: #fff;
        z-index: 10;
        position: fixed;
        top: 0;
    }

    .mobile-toolbar-link-bottom {
        display: block;
        width: 406px;
        min-height: 62px;
        background: #fff;
        z-index: 10;
        position: fixed;
        bottom: 0;
    }
}

.mobile-toolbar {
    background-image: url("../img/mobile-toolbar.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 406px;
    min-height: 62px;
    display: none;    
    z-index: 20;
}

.mobile-footer {
    background-image: url("../img/mobile-footer-no-border.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 370px;
    min-height: 107px;
    margin-top: -10px;
}


/** Event page */
.event-title {
    background: #fff;
    display: flex;
    border: 2px solid #eaeaea;
    height: 88px;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    /*box-shadow: 3px 3px 12px #33333317;*/
}

.event-title .title {
    display: inline-flex;
    align-items: flex-end;
    vertical-align: bottom;
    height: 41px;
    padding: 45px 0px 5px;
    word-break: break-word;
    margin-left: 16px;

    color: #000;
    font-family: "Futura - Bold";
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.text {
    margin-left: 16px;
    color: #8c8c8c;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

.checkbox-style {
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: 40px;
    top: 17.5px;
}

.event-checkbox {
    width: 22px;
    height: 22px;
}

.event-checkbox:before {
    background-color: #333;
}

.description {
    min-height: 500px;
    background-color: #EFEFEF;
    padding-bottom: 15px;
}

.items-list .item {
    display: flex;
    padding-top: 32px;
    padding-right: 10px;
}

.items-list .item .icon {
    padding: 0 35px;
}

.download {
    background-color: white;
    border-radius: 10px;
    margin: 40px 15px 40px;
    padding: 0;
    border: 2px solid #eaeaea;
}

.download p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 0px 15px;
    margin: 15px 0;
}

.buttons-line {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttons-line-image-wrap {
    width: 140px;
    max-width: calc(50% - 20px);
}

.buttons-line-image {
    width: 100%;
}

.buttons-line div {
    padding: 0 10px;
}


.btn {
    padding: 20px 80px;
    background-color: #ffe338;
    border-radius: 54px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    top: 42px;
    left: 18px;
    position: relative;
    user-select: none;
}

.brand-new-family {
    height: 96px;
    font-family: Kalam;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    color: #03bed8;
    margin: auto;
    padding: 0 10px;
}

.bg {
    background-image: url("../img/bg.png");
    background-size: 80px;
}

.description div {
    word-break: break-word;
}


/** Not found page */
.not-found-page .warning-text {
    background-color: #ffe338;
    padding: 8px 16px 10px 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: Futura;
}

/** Info page */
.info-page .bg {
    height: 64px;
}

.info-page .logo-line {
    text-align: center;
    padding-bottom: 32px;
}

.info-page .logo-line .logo {
    margin-top: -32px;
}


/** Agenda */
.agenda {
    position: relative;
}

.agenda .page-title {
    border-bottom: 1px solid #BBBBBB;
}

.agenda .date-day {
    text-align: left;
    border: none;
    width: auto;
}

.members .cell {
    line-height: 64px;
}

.agenda-table .cell {
    width: 75px;
    max-width: 75px;
    height: 64px;
    max-height: 75px;
    overflow: hidden;
}

.agenda-table .row-border {
    border-top: 1px solid #bfbfbf;
}

.agenda-table .date-month-line {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.agenda-table .cell img {
    vertical-align: middle;
}

.agenda-table .row {
    display: flex;
    flex-flow: row;
}

.agenda-table .row .cell:nth-child(even) {
    background-color: #FAFAFA;
}

.agenda-table .last-row {
    height: 40px;
}

.agenda .icon {
    display: inline-block;
}

.agenda .event {
    border: 1px solid #03bed8;
    margin: -1px;
    overflow: visible;
    position: relative;
}

.agenda .event-body {
    padding: 4px;
}

.agenda .event .popover {
    position: absolute;
    left: 10px;
    top: 73px;
    font-family: Futura;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #000000;
    width: 240px;
    height: 65px;
    border-radius: 10px;
    background-color: #ffe338;
    padding: 8px 12px 10px 12px;
}

.event .popover .arrow-top {
    position: absolute;
    top: -6px;
    left: 25px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffe338;
}

.agenda .event .dates {
    font-size: 9px;
    font-weight: 500;
    line-height: 1;
    color: #8c8c8c;
    font-family: "SF Text";
}

.agenda .event .title {
    word-break: break-word;
    height: 48px;
    overflow: hidden;
    font-family: "SF Text";
    font-size: 10px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.2px;
    color: #000000;
}

.agenda-info {
    display: none;
    position: absolute;
    top: 41px;
    left: 388px;
    background: none;
    float: right;
    width: 375px;
}

.agenda-info .info-page {
    min-height: 609px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.agenda-info .brand-new-family {
    padding-top: 40px;
}

.agenda-info .logo {
    margin-top: -80px;
    margin-bottom: 18px;
}

.agenda-info .download {
    border-radius: 0;
    margin: 0;
}

.circular-group-image {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    right: 26px;
}

.circular-group-image img {
    width: 100%;
    height: 100%;
}

#block-container {
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.fieldset-styles {
    border: 0;
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    padding-top: 36px;
}


/*Working Checkbox*/
.checkbox-working {
    float: right;
    position: relative;
}

.event-title-description {
    width: calc(100% - 130px);
}

.checkbox {
    user-select: none;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
}

.checkbox .options {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 2px solid #03bed8;
    border-radius: 50%; 
    /*hide shadow on iphone*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color:transparent;
}

.checkbox input[type="checkbox"] {
    display: none;
    /*hide shadow on iphone*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color:transparent;
}

.checkbox input:checked + .options {
    background-color: #03bed8;
}

.checkbox input:checked + .options::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;    
    background: url(../img/check.svg) no-repeat center;
    background-size: 12px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;    
}

.checkbox input:checked + .options:hover:after {
    background-color: transparent;
}
  

/* top */
.events-decription {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 15px 15px;
    background: #fff;
    margin-top: 75px;
}

@media (max-width: 449px) {
    .header-events {
        top: 0;
    }
}

.events-heading {
    vertical-align: middle;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
    .events-heading {
        top: 62px;
        width: 370px;
    } 
}

.events-heading-img-wrap {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.events-heading-image {
    min-width: 100%;
    height: 100%;
}

.events-heading-text {
    display: inline-block;
    padding-left: 10px;
    line-height: 56px;
    vertical-align: top;

    color: #000;
    font-family: "Futura - Bold";
    font-size: 24px;
    font-weight: 700;
}

.events-decription-icon {
    display: inline;
}

.events-decription-icon-wrap {
    display: inline-block;
    width: 56px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
}

.events-decription-info {
    display: block;
    margin-top: 15px;
    vertical-align: middle;
}

.events-decription-info-icon {
    width: 12px;
    vertical-align: middle;
    line-height: 22px;
}

.events-decription-info-address {
    display: inline-block;
    vertical-align: sub;
    margin: 0;

    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.events-decription-disclosure-icon {
    display: inline;
    margin-left: 15px;
}

.events-decription-info-icon-more {
    display: inline-block;
    width: 7px;
    vertical-align: sub;
    margin-left: 10px;
}

.events-decription-info-description {
    display: inline-block;
    width: calc(100% - 75px);
    vertical-align: middle;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    line-height: 22px;
    margin: 0;
}

.page {
    position: relative;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
    .page {
        padding-top: 62px;
        padding-bottom: 97px;
    }
}

.download-event-wrap {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 88px;
    z-index: 20;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
    .download-event-wrap {
        top: 150px;
    }    
}

.download-event-border {
    width: 100%;
    height: 30px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.download-event {    
    display: block;    
    margin: -25px auto 0;
    width: 340px;
    height: 48px;
    box-sizing: border-box;
    line-height: 48px;
    max-width: calc(100% - 30px);
    background-color: #ffe338;
    border: 0;
    border-radius: 54px;
    user-select: none;


    color: #000;
    font-family: "Futura - Bold";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 414px) {
    .download-event {
        top: 90px;
    }
}
